<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
   <main>
     <% if (orders.length <= 0) { %>
     <h1>Nothing there!</h1>
     <% } else { %>
        <ul>
          <% orders.forEach(order => { %>
          <li style="list-style: none">
            <h3><%= user %>'s Order #<%= order.id %></h3>
            <h5>Placed <%= new Intl.DateTimeFormat('en-US', {
              hour: 'numeric',
              minute: 'numeric',
              // second: 'numeric',
              year: 'numeric',
              month: 'numeric',
              day: 'numeric'
            }).format(order.createdAt); %></h5>
            <ul>
            <% order.products.forEach(product => { %>
            <li style="list-style: none"><%= product.title %> (<%= product.orderItem.quantity %>)</li>
            <% }); %>
            </ul>
          </li>
          <% }); %>
        </ul>
     <% } %>
   </main>
   <%- include('../includes/end.ejs') %>